@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />


Welcome to BasketBall LiveScore.

<SurveyPrompt Title="How is Blazor working for you?" />
<!-- Embed YouTube Video with Autoplay and Larger Size -->
<iframe width="1000" height="600"
        src="https://www.youtube.com/embed/LPDnemFoqVk?autoplay=1&si=h6Ar5u_3XcaXVkhD"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin">
</iframe>